

<form action="/answer" method = "get" data-turbo="false">
  <label for="question">Please type your question</label>
  <input id = "question" type="text" name="question">
  <input type="submit" value="Ask!">
</form>
